@tailwind base;
@tailwind components;
@tailwind utilities;


input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #000;
}
.shadow-custom{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav:active{
    background-color: rgb(212 212 216);
    border-start-end-radius: 9999px;
	border-end-end-radius: 9999px;
}